version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    restart: on-failure
    ports:
      - "5672:5672" # AMQP
      - "15672:15672" # UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  worker:
    restart: on-failure
    build: ./worker
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
